<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../../public/css/style.css" rel="stylesheet">
    <title>Find Stack</title>
</head>
<body>
    <header>
        <div class="div-header-btn">
            <a href="index.html">Find Stack</a>
            <nav>
                <a href="index.html">Home</a>
                <a href="programadores.html">Conheça os devs</a>
            </nav>
        </div>
    </header>
    <section class="busca">
        <ul class="r-busca">
          <li>Descrição</li>
          <li>Link</li>
          <li>Preço</li>
          <li>Avaliação</li>
        </ul> 
        <div class="combo">
        <!-- <p>teste</p>
        <p>teste</p>
        <p>teste</p>
        <p>teste</p>
        <p>teste</p> -->
        </div>
    </section>
    
    <footer>
        <div>
            <a href="">Acesso à informação</a>
            <span>-</span>
            <a href="">Ajuda</a>
        </div>
    </footer>
</body>
</html>
