<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../../public/css/style.css" rel="stylesheet">
    <title>Find Stack</title>
</head>

<body>
    <header>
        <div class="div-header-btn">
            <a href="/../../index.html">Find Stack</a>
            <nav>
                <a href="/../../index.html">Home</a>
                <a href="app/view/programadores.html">Conheça os devs</a>
            </nav>
        </div>
    </header>
    <section class="busca">
        <div class="r-busca">
            <ul>
                <li class="li-main">Descrição</li>
                <li>Curso Java Web - Alura</li>
                <li>Curso Java POO - Cuso Em Vídeo</li>
                <li>Curso Java POO - Udemy</li>
                <li>Curso Java SpringBoot - Udemy</li>
                <li>Curso Básico Java -LearnCafé</li>
                <li>Curso Java - DevMedia</li>
                <li>Curso Java POO - ITA</li>
                <li>Curso Java Zero ao Avançado - Mentorama</li>
            </ul>
            <ul>
                <li class="li-main">Link</li>
                <li><a href="https://www.alura.com.br/curso-online-servlets-fundamentos-programacao-web-java">Link</a>
                </li>
                <li><a href="https://www.cursoemvideo.com/curso/java-poo/">Link</a></li>
                <li><a
                        href="https://www.udemy.com/course/java-curso-completo/?ranMID=39197&ranEAID=OjkYjeK5T1I&ranSiteID=OjkYjeK5T1I-UlLfjSW60yOF1kHxDxn36A&LSNPUBID=OjkYjeK5T1I&utm_source=aff-campaign&utm_medium=udemyads">Link</a>
                </li>
                <li><a
                        href="https://www.udemy.com/course/microsservicos-java-spring-cloud/?ranMID=39197&ranEAID=OjkYjeK5T1I&ranSiteID=OjkYjeK5T1I-_3OEX85y8GdKMp3v3EL_9A&utm_source=aff-campaign&LSNPUBID=OjkYjeK5T1I&utm_medium=udemyads">Link</a>
                </li>
                <li><a href="https://www.learncafe.com/cursos/curso-basico-de-java">Link</a></li>
                <li><a href="https://www.devmedia.com.br/cursos/java">Link</a></li>
                <li><a href="https://pt.coursera.org/learn/orientacao-a-objetos-com-java">Link</a></li>
                <li><a href="https://mentorama.com.br/java-developer/">Link</a></li>
            </ul>
            <ul>
                <li class="li-main">Preço</li>
                <li>R$120,00</li>
                <li>Grátis</li>
                <li>R$44,90</li>
                <li>R$128,90</li>
                <li>Grátis</li>
                <li>Grátis</li>
                <li>Grátis</li>
                <li>R$190,00</li>
            </ul>
            <ul>
                <li class="li-main">Avaliação</li>
                <li>9.4/10</li>
                <li>9.0/10</li>
                <li>9.6/10</li>
                <li>9.6/10</li>
                <li>8.2/10</li>
                <li>8.0/10</li>
                <li>9.6/10</li>
                <li>9.2/10</li>
            </ul>
            </ul>
    </section>

    <footer>
        <div>
            <a href="">Acesso à informação</a>
            <span>-</span>
            <a href="">Ajuda</a>
        </div>
    </footer>
</body>
</html>

