<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Find Stack</title>
</head>
<body>
    <header>
        <div class="div-header-btn">
            <a href="index.html">Find Stack</a>
            <a href="index.html">Home</a>
        </div>
    </header>
    <div class="main-container">
        <ul>
            <li>
                <div class="div-li-perfil">
                    <img src="img/perfil.jpg" class="img-pessoa">
                    <div class="teste-1"></div>
                </div>
                <div class="div-li-texto">
                    <h1>Vicente Damasceno</h1>
                    <h2>18 anos, natural de Eunápolis (Bahia). Começou a programar como diversão, hoje cursa Engenharia de Software na Universidade Tecnológica Federal do Paraná.</h2>
                    <ul class="div-li-img">
                        <!-- <nav class="nav-links"> -->
                        <li>
                            <a href="https://linkedin.com/in/vicentemdamasceno/"><img src="img/linkedin-completo.png" class="img-icon"></a>
                        </li>
                        <li>
                            <a href="https://github.com/Vicente-MD"><img src="img/github-completo.png" class="img-icon"></a>
                        </li>
                        <!-- </nav> -->
                    </ul>
                </div>
            </li>
            <li>
                <div class="div-li-perfil">
                    <img src="img/perfil2.jpg" class="img-pessoa">
                </div>
                <div class="div-li-texto">
                    <h1>Tuany Brito</h1>
                    <h2>Um cidadão fez voto de desapego e pobreza. Dispôs de todos os seus bens e propriedades, reservou para si apenas duas tangas, e saiu pelo mundo afora em busca de todos os sábios, medindo na verdade o desapego de cada um. Levava apenas uma tanga no corpo.</h2>
                    <ul class="div-li-img">
                        <!-- <nav class="nav-links"> -->
                        <li>
                            <a href="https://linkedin.com/in/vicentemdamasceno/"><img src="img/linkedin-completo.png" class="img-icon"></a>
                        </li>
                        <li>
                            <a href="https://github.com/Vicente-MD"><img src="img/github-completo.png" class="img-icon"></a>
                        </li>
                        <!-- </nav> -->
                    </ul>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="div-li-perfil">
                    <img src="img/testimg.jpg" class="img-pessoa">
                </div>
                <div class="div-li-texto">
                    <h1>Catiana</h1>
                    <h2>Um cidadão fez voto de desapego e pobreza. Dispôs de todos os seus bens e propriedades, reservou para si apenas duas tangas, e saiu pelo mundo afora em busca de todos os sábios, medindo na verdade o desapego de cada um. Levava apenas uma tanga no corpo.</h2>
                    <ul class="div-li-img">
                        <!-- <nav class="nav-links"> -->
                        <li>
                            <a href="https://linkedin.com/in/vicentemdamasceno/"><img src="img/linkedin-completo.png" class="img-icon"></a>
                        </li>
                        <li>
                            <a href="https://github.com/Vicente-MD"><img src="img/github-completo.png" class="img-icon"></a>
                        </li>
                        <!-- </nav> -->
                    </ul>
                </div>
            </li>
            <li>
                <div class="div-li-perfil">
                    <img src="img/testimg.jpg" class="img-pessoa">
                </div>
                <div class="div-li-texto">
                    <h1>Carlos</h1>
                    <h2>Um cidadão fez voto de desapego e pobreza. Dispôs de todos os seus bens e propriedades, reservou para si apenas duas tangas, e saiu pelo mundo afora em busca de todos os sábios, medindo na verdade o desapego de cada um. Levava apenas uma tanga no corpo.</h2>
                    <ul class="div-li-img">
                        <!-- <nav class="nav-links"> -->
                        <li>
                            <a href="https://linkedin.com/in/vicentemdamasceno/"><img src="img/linkedin-completo.png" class="img-icon"></a>
                        </li>
                        <li>
                            <a href="https://github.com/Vicente-MD"><img src="img/github-completo.png" class="img-icon"></a>
                        </li>
                        <!-- </nav> -->
                    </ul>
                </div>
            </li>
        </ul>    
    </div>
    <footer>
        <div>
            <a href="">Acesso à informação</a>
            <span>-</span>
            <a href="">Ajuda</a>
        </div>
    </footer>
</body>
</html>