/* @autor Tuany Brito */
body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}
a {
  text-decoration: none;
  color:white;
}

.header {
  background: #97E4EE;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header a {
  padding: 10px;
  background: rgba(151, 212, 238, 0.5);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px; 
}
.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  display: block;
  padding: 10px;
  background: rgba(151, 212, 238, 0.5);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px; 

}

.busca {
    background: rgba(151, 228, 238, 0.5);
    margin: 85px;
    border-radius: 20px;
    padding: 30px;
    display: block; 
}

table {
  border-collapse: separate;
  margin-left: 20%;
  color: #FFFFFF;
  text-align: center;
}

table, td {
  border: 1px solid #FFFFFF;
  /* cellpadding: 10px; */
  border-radius: 30px;
  padding: 5px;
}
. {
  background: rgba(151, 212, 238, 0.5);
}

.table-busca-dados {
  
  background: #FFFFFF;
  color: gray;
}


.combo {
  display: flex;
  text-align: center;
}

.star {
  
 /* color: yellow; */
 color: #FDE16D;
}

footer {
  background: #97E4EE;
  width: 100%;
  margin-top:100%;
}

.footer {
  display: flex;
  padding: 10px;
}

.footer li {
  margin-left: 20px;
}

.footer li a{
  display: block; 
}
